body{
  background-color: #eee;
  height: auto;
}
.zq-clearfix:after{
  content: "";
  display: block;
  height: 0;
  width: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}

.ant-modal .ant-modal-header{
  border-radius: 0;
  background-color: #273138;
}

.ant-modal .ant-modal-title{
  font-size: 16px;
  color: #fff;
  line-height: 23px;
}

.ant-modal .ant-modal-close-x{
  color: #93989c;
}

.ant-modal .ant-modal-close-x:hover{
  color: #BBB;
}

.ant-modal .ant-modal-footer{
  border-top: 0;
  padding: 30px 16px;
  text-align: center;
}

.ant-modal .ant-modal-footer button + button{
  margin-left: 20px;
}

.ant-modal .ant-modal-footer .ant-btn{
  padding: 0 32px;
  height: 40px;
  line-height: 40px;
}

.ant-modal .ant-btn-primary{
    background-color: #14CC8F;
    border-color: #14CC8F;
}

.ant-modal .ant-btn-primary:hover{
  background-color: #7EE5C4;
  border-color: #7EE5C4;
}