body {
  margin:0px;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1169px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u20945_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:938px;
  height:625px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20945 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:48px;
  width:938px;
  height:625px;
}
#u20946 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:304px;
  width:934px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20947_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:1935px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20947 {
  border-width:0px;
  position:absolute;
  left:953px;
  top:7px;
  width:216px;
  height:1935px;
}
#u20948 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:960px;
  width:212px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20949_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:938px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20949 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:7px;
  width:938px;
  height:41px;
}
#u20950 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:934px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20951_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:938px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20951 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:673px;
  width:938px;
  height:41px;
}
#u20952 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:934px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20953 {
  border-width:0px;
  position:absolute;
  left:748px;
  top:14px;
  width:183px;
  height:22px;
}
#u20953_input {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u20953_input:disabled {
  color:grayText;
}
#u20954_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u20954 {
  border-width:0px;
  position:absolute;
  left:1005px;
  top:20px;
  width:113px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u20955 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u20956_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u20956 {
  border-width:0px;
  position:absolute;
  left:965px;
  top:61px;
  width:196px;
  height:16px;
  font-size:13px;
}
#u20957 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
#u20958_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u20958 {
  border-width:0px;
  position:absolute;
  left:965px;
  top:102px;
  width:196px;
  height:16px;
  font-size:13px;
}
#u20959 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  word-wrap:break-word;
}
#u20960_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u20960 {
  border-width:0px;
  position:absolute;
  left:965px;
  top:144px;
  width:105px;
  height:16px;
  font-size:13px;
}
#u20961 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u20962_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u20962 {
  border-width:0px;
  position:absolute;
  left:965px;
  top:183px;
  width:131px;
  height:16px;
  font-size:13px;
}
#u20963 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u20964_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u20964 {
  border-width:0px;
  position:absolute;
  left:965px;
  top:217px;
  width:157px;
  height:16px;
  font-size:13px;
}
#u20965 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u20966_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u20966 {
  border-width:0px;
  position:absolute;
  left:965px;
  top:265px;
  width:105px;
  height:16px;
  font-size:13px;
}
#u20967 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u20968_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u20968 {
  border-width:0px;
  position:absolute;
  left:965px;
  top:311px;
  width:112px;
  height:16px;
  font-size:13px;
}
#u20969 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u20970_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20970 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:18px;
  width:20px;
  height:20px;
}
#u20971 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20972_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u20972 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:15px;
  width:25px;
  height:25px;
}
#u20973 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20974_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20974 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:10px;
  width:144px;
  height:35px;
}
#u20975 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:140px;
  word-wrap:break-word;
}
#u20976 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:14px;
  width:183px;
  height:22px;
}
#u20976_input {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u20976_input:disabled {
  color:grayText;
}
#u20977 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20978_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:938px;
  height:47px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20978 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:626px;
  width:938px;
  height:47px;
}
#u20979 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:934px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20980_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:24px;
}
#u20980 {
  border-width:0px;
  position:absolute;
  left:857px;
  top:640px;
  width:19px;
  height:24px;
}
#u20981 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20982_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u20982 {
  border-width:0px;
  position:absolute;
  left:885px;
  top:640px;
  width:24px;
  height:24px;
}
#u20983 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20984_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:16px;
}
#u20984 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:643px;
  width:371px;
  height:16px;
}
#u20985 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20986_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:24px;
}
#u20986 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:638px;
  width:19px;
  height:24px;
}
#u20987 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20988_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:938px;
  height:265px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20988 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:732px;
  width:938px;
  height:265px;
}
#u20989 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:124px;
  width:934px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20990_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:902px;
  height:162px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20990 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:742px;
  width:902px;
  height:162px;
}
#u20991 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:73px;
  width:898px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20992_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#C9C9C9;
}
#u20992 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:754px;
  width:99px;
  height:16px;
  color:#C9C9C9;
}
#u20993 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u20994_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#C9C9C9;
}
#u20994 {
  border-width:0px;
  position:absolute;
  left:883px;
  top:878px;
  width:45px;
  height:16px;
  color:#C9C9C9;
}
#u20995 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u20996_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20996 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:953px;
  width:173px;
  height:40px;
}
#u20997 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:169px;
  word-wrap:break-word;
}
#u20998 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:1014px;
  width:938px;
  height:928px;
  overflow:hidden;
}
#u20998_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:938px;
  height:928px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u20998_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20999_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:759px;
  height:441px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20999 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:759px;
  height:441px;
}
#u21000 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:212px;
  width:755px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:938px;
  height:441px;
}
#u21001 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:938px;
  height:441px;
}
#u21002 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:212px;
  width:934px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20998_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:938px;
  height:928px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u20998_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21003_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:938px;
  height:441px;
}
#u21003 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:938px;
  height:441px;
}
#u21004 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:212px;
  width:934px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20998_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:938px;
  height:928px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u20998_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21005_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:941px;
  height:200px;
}
#u21005 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:941px;
  height:200px;
}
#u21006 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:937px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20998_state3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:938px;
  height:928px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u20998_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21007_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:894px;
  height:520px;
}
#u21007 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:89px;
  width:894px;
  height:520px;
}
#u21008 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:252px;
  width:890px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21009_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21009 {
  border-width:0px;
  position:absolute;
  left:841px;
  top:158px;
  width:9px;
  height:16px;
}
#u21010 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u21011_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21011 {
  border-width:0px;
  position:absolute;
  left:841px;
  top:209px;
  width:9px;
  height:16px;
}
#u21012 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u21013_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21013 {
  border-width:0px;
  position:absolute;
  left:837px;
  top:258px;
  width:17px;
  height:16px;
}
#u21014 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u21015_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21015 {
  border-width:0px;
  position:absolute;
  left:837px;
  top:308px;
  width:17px;
  height:16px;
}
#u21016 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u21017_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21017 {
  border-width:0px;
  position:absolute;
  left:837px;
  top:356px;
  width:17px;
  height:16px;
}
#u21018 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u21019_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21019 {
  border-width:0px;
  position:absolute;
  left:837px;
  top:406px;
  width:17px;
  height:16px;
}
#u21020 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u21021_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21021 {
  border-width:0px;
  position:absolute;
  left:837px;
  top:457px;
  width:9px;
  height:16px;
}
#u21022 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u21023_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21023 {
  border-width:0px;
  position:absolute;
  left:837px;
  top:508px;
  width:9px;
  height:16px;
}
#u21024 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u21025_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21025 {
  border-width:0px;
  position:absolute;
  left:819px;
  top:560px;
  width:88px;
  height:44px;
}
#u21026 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21027_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21027 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:37px;
  width:300px;
  height:52px;
}
#u21028 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:296px;
  word-wrap:break-word;
}
#u21029_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21029 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:683px;
  width:103px;
  height:21px;
}
#u21029_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:21px;
  background:inherit;
  background-color:rgba(134, 134, 134, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21029.selected {
}
#u21030 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:99px;
  word-wrap:break-word;
}
#u21031_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21031 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:683px;
  width:103px;
  height:21px;
}
#u21031_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:21px;
  background:inherit;
  background-color:rgba(134, 134, 134, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21031.selected {
}
#u21032 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:99px;
  word-wrap:break-word;
}
#u21033_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21033 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:683px;
  width:103px;
  height:21px;
}
#u21033_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:21px;
  background:inherit;
  background-color:rgba(134, 134, 134, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21033.selected {
}
#u21034 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:99px;
  word-wrap:break-word;
}
#u21035_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u21035 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:902px;
  width:48px;
  height:48px;
}
#u21036 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21037_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:48px;
}
#u21037 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:904px;
  width:56px;
  height:48px;
}
#u21038 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21039_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u21039 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:894px;
  width:20px;
  height:20px;
}
#u21040 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21041 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21042_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:95px;
}
#u21042 {
  border-width:0px;
  position:absolute;
  left:847px;
  top:392px;
  width:96px;
  height:95px;
}
#u21043 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21044_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:99px;
}
#u21044 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:415px;
  width:132px;
  height:99px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u21045 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:128px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21046_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
}
#u21046 {
  border-width:0px;
  position:absolute;
  left:732px;
  top:443px;
  width:64px;
  height:12px;
  font-size:9px;
}
#u21047 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u21048_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
}
#u21048 {
  border-width:0px;
  position:absolute;
  left:732px;
  top:460px;
  width:74px;
  height:12px;
  font-size:9px;
}
#u21049 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u21050_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
}
#u21050 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:475px;
  width:91px;
  height:12px;
  font-size:9px;
}
#u21051 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u21052_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u21052 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:441px;
  width:1px;
  height:16px;
  font-size:10px;
}
#u21053 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u21054_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21054 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:683px;
  width:103px;
  height:21px;
}
#u21054_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:21px;
  background:inherit;
  background-color:rgba(134, 134, 134, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21054.selected {
}
#u21055 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:99px;
  word-wrap:break-word;
}
