body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1374px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u20427_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1364px;
  height:36px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20427 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:73px;
  width:1364px;
  height:36px;
}
#u20428 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:1360px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20429_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#515151;
}
#u20429 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:83px;
  width:57px;
  height:16px;
  color:#515151;
}
#u20430 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u20431_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6B6B6B;
}
#u20431 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:83px;
  width:71px;
  height:16px;
  color:#6B6B6B;
}
#u20432 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u20433_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#3366FF;
}
#u20433 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:83px;
  width:71px;
  height:16px;
  color:#3366FF;
}
#u20434 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u20435_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20435 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:129px;
  width:251px;
  height:16px;
}
#u20436 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  white-space:nowrap;
}
#u20437 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:219px;
  width:898px;
  height:768px;
  overflow:hidden;
  visibility:hidden;
}
#u20437_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:898px;
  height:768px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u20437_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20438_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:864px;
  height:583px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(148, 148, 148, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20438 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:864px;
  height:583px;
}
#u20439 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:284px;
  width:860px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20440_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:768px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20440 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:768px;
}
#u20441 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:376px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20442 {
  position:absolute;
  left:336px;
  top:244px;
}
#u20442_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:132px;
  height:41px;
  background-image:none;
}
#u20442_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20443_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u20443 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:10px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u20444 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u20445_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u20445 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u20446 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20442_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:491px;
  height:112px;
  visibility:hidden;
  background-image:none;
}
#u20442_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20447_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:83px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:72px;
}
#u20447 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:18px;
  width:361px;
  height:83px;
  font-size:72px;
}
#u20448 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  white-space:nowrap;
}
#u20449_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:112px;
}
#u20449 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:112px;
}
#u20450 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:48px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20451_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:37px;
  background:inherit;
  background-color:rgba(174, 174, 174, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20451 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:731px;
  width:900px;
  height:37px;
}
#u20452 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20453 {
  position:absolute;
  left:851px;
  top:735px;
}
#u20453_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background-image:none;
}
#u20453_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20454_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u20454 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u20455 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20453_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  visibility:hidden;
  background-image:none;
}
#u20453_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20456_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u20456 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u20457 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20458 {
  position:absolute;
  left:759px;
  top:594px;
  visibility:hidden;
}
#u20458_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:130px;
  height:127px;
  background-image:none;
}
#u20458_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20459_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:127px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20459 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:127px;
}
#u20460 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:56px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20461_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:121px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20461 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:4px;
  width:105px;
  height:121px;
}
#u20462 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:52px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20463_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20463 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:37px;
  width:60px;
  height:68px;
}
#u20464 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20465_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u20465 {
  border-width:0px;
  position:absolute;
  left:851px;
  top:0px;
  width:48px;
  height:48px;
}
#u20466 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20467_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1147px;
  height:122px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20467 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:177px;
  width:1147px;
  height:122px;
}
#u20468 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:53px;
  width:1143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20469_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20469 {
  border-width:0px;
  position:absolute;
  left:902px;
  top:219px;
  width:191px;
  height:30px;
}
#u20470 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20471 {
  border-width:0px;
  position:absolute;
  left:902px;
  top:219px;
  width:179px;
  height:28px;
}
#u20471_input {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u20472_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(174, 174, 174, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u20472 {
  border-width:0px;
  position:absolute;
  left:1081px;
  top:219px;
  width:60px;
  height:30px;
  font-size:12px;
  color:#FFFFFF;
}
#u20473 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u20474 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:224px;
  width:126px;
  height:30px;
}
#u20474_input {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#676A6C;
}
#u20474_input:disabled {
  color:grayText;
}
#u20475_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u20475 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:224px;
  width:72px;
  height:30px;
  font-size:12px;
}
#u20476 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:68px;
  word-wrap:break-word;
}
#u20477 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20478_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:516px;
  height:664px;
}
#u20478 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:299px;
  width:516px;
  height:664px;
}
#u20479 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:324px;
  width:512px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20480_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u20480 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:320px;
  width:91px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u20481 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u20482 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:426px;
  width:468px;
  height:499px;
}
#u20483_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  height:494px;
}
#u20483 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  height:494px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#676A6C;
  text-align:left;
}
#u20484 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:459px;
  word-wrap:break-word;
}
#u20485_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:462px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u20485 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:371px;
  width:462px;
  height:55px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u20486 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:458px;
  word-wrap:break-word;
}
#u20487_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:664px;
}
#u20487 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:299px;
  width:84px;
  height:664px;
}
#u20488 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:324px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20489 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20490_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:488px;
  height:664px;
}
#u20490 {
  border-width:0px;
  position:absolute;
  left:624px;
  top:299px;
  width:488px;
  height:664px;
}
#u20491 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:324px;
  width:484px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20492_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u20492 {
  border-width:0px;
  position:absolute;
  left:828px;
  top:320px;
  width:91px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u20493 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u20494 {
  border-width:0px;
  position:absolute;
  left:653px;
  top:426px;
  width:443px;
  height:495px;
}
#u20495_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:490px;
}
#u20495 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:490px;
  color:#676A6C;
}
#u20496 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:434px;
  word-wrap:break-word;
}
#u20497_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:462px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u20497 {
  border-width:0px;
  position:absolute;
  left:653px;
  top:371px;
  width:462px;
  height:55px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u20498 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:458px;
  word-wrap:break-word;
}
#u20499_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:9px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:21px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20499 {
  border-width:0px;
  position:absolute;
  left:421px;
  top:526px;
  width:223px;
  height:9px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u20500 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20501_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:81px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20501 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:800px;
  width:129px;
  height:81px;
}
#u20502 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:125px;
  word-wrap:break-word;
}
#u20503_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u20503 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:224px;
  width:72px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u20503_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u20503.selected {
}
#u20504 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:68px;
  word-wrap:break-word;
}
#u20505_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u20505 {
  border-width:0px;
  position:absolute;
  left:641px;
  top:224px;
  width:72px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u20505_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u20505.selected {
}
#u20506 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:68px;
  word-wrap:break-word;
}
#u20507_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:57px;
  background:inherit;
  background-color:rgba(0, 102, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u20507 {
  border-width:0px;
  position:absolute;
  left:1112px;
  top:299px;
  width:80px;
  height:57px;
  color:#FFFFFF;
}
#u20508 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u20509_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20509 {
  border-width:0px;
  position:absolute;
  left:1112px;
  top:356px;
  width:80px;
  height:57px;
}
#u20510 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u20511_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:81px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20511 {
  border-width:0px;
  position:absolute;
  left:664px;
  top:800px;
  width:129px;
  height:81px;
}
#u20512 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:125px;
  word-wrap:break-word;
}
#u20513_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20513 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:127px;
  width:40px;
  height:25px;
}
#u20514 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  word-wrap:break-word;
}
#u20515_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1364px;
  height:63px;
  background:inherit;
  background-color:rgba(134, 134, 134, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20515 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:1364px;
  height:63px;
}
#u20516 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:1360px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20517_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:25px;
}
#u20517 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:27px;
  width:101px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:25px;
}
#u20518 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u20519_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20519 {
  border-width:0px;
  position:absolute;
  left:1239px;
  top:35px;
  width:65px;
  height:16px;
}
#u20520 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u20521_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u20521 {
  border-width:0px;
  position:absolute;
  left:1309px;
  top:30px;
  width:25px;
  height:25px;
}
#u20522 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20523_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:63px;
  background:inherit;
  background-color:rgba(134, 134, 134, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
}
#u20523 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:10px;
  width:198px;
  height:63px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
}
#u20524 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:194px;
  word-wrap:break-word;
}
#u20525_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:63px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
}
#u20525 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:10px;
  width:198px;
  height:63px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
}
#u20526 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:194px;
  word-wrap:break-word;
}
#u20527_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:63px;
  background:inherit;
  background-color:rgba(134, 134, 134, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
}
#u20527 {
  border-width:0px;
  position:absolute;
  left:604px;
  top:10px;
  width:198px;
  height:63px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
}
#u20528 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:194px;
  word-wrap:break-word;
}
