/*
 * @Author: 蒲飞 
 * @Date: 2017-09-19 10:14:47 
 * @Last Modified by: 蒲飞
 * @Last Modified time: 2017-09-19 10:40:04
 */
.pf-r-search{
  width:1140px;
  height:620px;
  background-color: #fff;
  margin-top: 20px;
  margin-bottom: 45px;
  padding:20px;
}